:root{
    --Crema: #E3E3E3;
    --Verde-Agua-Oscura: #346C73;
    --Verde-Agua: #33A69A;
    --Gris-Azulado: #292C32;
    --Verde-oscuro: #2E5559;
}
nav{
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}
nav ul li a:hover{
    color: #33A69A;
    transition: .3s;
}
nav ul li a{
    color: #E3E3E3;
}
.btn1{
    background-color: #346C73;
    border: none;
    padding: 12px 12px;
    margin-right: 20px;
}

.btn1:hover{
    transform: scale(1.2);
}
