<nav class="navbar navbar-expand-lg bg-transparent">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="assets/logo.png" alt="Bootstrap" width="180" height="90">
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nosotros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item hola" href="#why-choose-us">¿Por qué escogernos?</a></li>
            <li><a class="dropdown-item" href="#how-works">¿Cómo funciona?</a></li>
            <li><a class="dropdown-item" href="#values-page">Valores</a></li>
            <li><a class="dropdown-item" href="#clients">Testimonios</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">Soporte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
      </ul>
      <button type="button" class="btn1" [routerLink]="'login'"> <img src="assets/User.svg" alt=""></button>
      <button type="button" class="btn2" [routerLink]="'planes'">Iniciar prueba gratis</button>
    </div>
  </div>
</nav>
