<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="row" id="login">
    <div class="container ">
        <div class="row ">
            <div class="col col1">
                <img src="assets/logo1.png" class="py-5" [routerLink]="''">
                <h1 class="tit px-5">Bienvenido Reclutador!</h1>
                <h2 class="text px-5">Tu labor como reclutador es la clave para construir equipos excepcionales y cambiar vidas. ¡Sigue adelante y
                  haz que cada contratación cuente!</h2>
              </div>
              <div class="col col2">
                <div class="contenido">
                    <h3>Inicio de sesión</h3>
                <p>¿Ya reclutaste hoy? ¡Haz cada día una oportunidad para encontrar el mejor talento!</p>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                      <div id="emailHelp" class="form-text align-left">¿Olvidaste la contraseña?</div>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
                  </form>
                </div>
                
              </div>
        </div>
      
    </div>

  </div>
</body>

</html>
