<footer>
    <div class="container">
        <nav class="row py-5">
            <div class="col px-5">
                <a href="#">
                    <img src="assets/LOGO2.png" alt="Logo talent" class="img-logo mr-2">
                </a>
            </div>
            <div class="col px-5">
                <ul class="list-unstyled">
                    <li><a class="text" [routerLink]="''">Nosotros</a></li>
                    <li><a href="#why-choose-us" class="text2">¿Por qué escogernos?</a></li>
                    <li><a href="#how-works" class="text2">¿Cómo funciona?</a></li>
                    <li><a href="#values-page" class="text2">Valores</a></li>
                    <li><a href="#clients" class="text2">Testimonios</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <li><a href="#faq" class="text">Soporte</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <li><a href="#contact" class="text">Contacto</a></li>
                    <li class="text2">talentsoft@gmail.com</li>
                    <li class="text2">+57 3156888063</li>
                    <li class="text2">Cra 7 #43-62</li>
                </ul>
            </div>
            
        </nav>
    </div>
</footer>
